<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
  PUBLIC '-//Hibernate/Hibernate Configuration DTD 3.0//EN'
  'http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd'>
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://simonjokerrds.c4coyvtxdjue.us-west-2.rds.amazonaws.com:3306/test</property>
		<property name="connection.username">simonjoker</property>
		<property name="connection.password">b952040034</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		 <!--  <property name="hbm2ddl.auto">create</property> -->
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">5</property>
		<property name="current_session_context_class">thread</property>
		<mapping class="prj.jersey.simonExp.example.Employee"/>
		<mapping class="prj.jersey.simonExp.example.Department"/>
	</session-factory>
</hibernate-configuration>